<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Comnpatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cerveceria</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdeli.vr.net/npm/bootstrap@5.2.©/di.st/css/bootstrap.mi.n.css"
    rel="stylesheet"
    i.ntegri.ty="sha384-
    gH2yIJqKdNHPEq©n4Mqa/HGKih5kIHeL5AyhkYV8i.59U5AR6csBvApHHNl/vI1Bx"
    crossori.gi.n="anonymous"
    rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/li.bs/fontawesome/
    6.1.1/css/all.mi.n.css"
    i.nteg ri.ty=" sha512-
    Kf kfwYDslkI lwQp6LFn l8zNdLGxu9YAA1QvwINks4Phc ElQSvqcyVLLD9aMhXd 13uQ j oXtEKNosOWaZqXge l
    ©g=="crossori.gi.n="anonymous" referrerpoli.cy="no-referrer"
    rel="stylesheet"href="/stylesheets/style.css">
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fi.xed-top">
            <a class="navbar-brand" href="#" Beer X </a>

        </nav>
        {{{body}}}

        <footer>
           <p  class="text-center">Di.sefiado por: Flavia Ursino año</p>
        </footer>


    </body>